* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

#botao-ligar {
    background-color: #2ecc71;
}

#canvas-container {
    width: 100%;
    max-height: 80vh;
    overflow: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#canvas-container canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#botao-reiniciar {
    background-color: #99a034;
}

.botao {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
}

.container-insercao, .container-infeccao, .container-inicializacao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.container-rodadas, .container-botoes  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.container-rodadas {
    flex-direction: column;
}

.container-parametrizacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-parametrizacoes section {
   margin-top: 20px;
   padding: 20px 20px
}

.inputs-tempo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-column: 1 / span 2;
}

.botao-insercao {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.selecionado, .botao-insercao:hover {
    background-color: #242323;
}


.botao-insercao-texto {
  margin-bottom: 5px;  
  font-family: sans-serif;
}


.quadrado {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}

.quadrado-0 {
  background-color: rgb(255, 255, 255); 
}

.quadrado-1 {
  background-color: rgb(220, 20, 60); 
}

.quadrado-2 {
  background-color: rgb(173, 216, 230); 
}

.quadrado-3 {
  background-color: rgb(255, 237, 41); 
}



/* Estado quando a simulação está rodando */
#botao-ligar.ativo {
    background-color: #e74c3c; /* Vermelho (Parar) */
}

.botao:hover {
    filter: brightness(1.1);
}

label {
    display: block
}